.visually-hidden:not(:focus):not(:active),
.visually-hidden:focus,
.visually-hidden {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

.site-header {
  background-color: #f4f7f9;
}

.site-logo {
  display: block;
  box-sizing: border-box;
  width: 220px;
  height: 47px;
  padding: 13px 56px 15px 55px;

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.site-logo:hover {
  background-color: #ca2c37;
}

.site-logo:active {
  background-color: #ba2732;
}

.site-header {
  display: flex;
  flex-flow: row wrap;
}

.site-header__user-interface {
  background-color: #293449;
}

.search-form__search-input {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  color: #000000;

  background-color: #293449;
  border: none;
}

.search-form__search-input::placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
}

.search-form__search-input:hover {
  background-color: #212a3a;
}

.search-form__search-input:focus,
.search-form__search-input:active {
  background-color: #ffffff;
}

.search-form__icon-search {
  opacity: 0.3;
}

.search-form__search-input:hover~.search-form__icon-search {
  opacity: 1;
}

.search-form__search-input:focus~.search-form__icon-search,
.search-form__search-input:active~.search-form__icon-search {
  opacity: 1;
  fill: #ee3643;
}

.site-header__bookmarks,
.site-header__basket,
.site-header__order {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.site-header__bookmarks,
.site-header__basket {
  background-color: #293449;
}

.site-header__bookmarks:hover,
.site-header__basket:hover {
  background-color: #212a3a;
}

.site-header__bookmarks:active,
.site-header__basket:active {
  background-color: #161d29;
  opacity: 0.5;
}

.site-header__order {
  background-color: #63a63e;
}

.site-header__order:hover {
  background-color: #5fbb2d;
}

.site-header__order:active {
  background-color: #518534;
  opacity: 0.5;
}

.site-header__description {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.site-header__contacts {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 45px;
  padding-left: 28px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 25px;
  color: #e9292a;

  border: solid 3px #ffffff;
}

.site-header__address {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #32425c;
}

.user__login,
.user__registry,
.user__name {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 45px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 25px;
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}

.user__login:hover,
.user__registry:hover {
  color: #ee3643;
}

.user__login:active,
.user__registry:active,
.user__name:active {
  opacity: 0.3;
}

.user__link {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  color: #32425c;
}

.user__link:hover {
  color: #ee3643;
}

.user__link:active {
  opacity: 0.3;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #32425c;
}

.navigation__item {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.navigation__link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 60px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;

  background-color: #32425c;
}

.navigation__link:hover {
  background-color: #293449;
}

.navigation__link:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.cards-list {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cards-list__item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  width: 300px;
  min-height: 123px;
  margin: 0;
  padding: 16px 23px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #ffffff;

  background-color: #000000;
}

.cards-list__item--orange {
  background-color: #ffbf47;
  background-image: url("img/badge-bucket.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.cards-list__item--blue {
  background-color: #3bbce3;
  background-image: url("img/badge-screwdriver.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.cards-list__item--pink {
  background-color: #dc91d8;
  background-image: url("img/badge-tractor.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.cards-list__item--green {
  background-color: #8ed78f;
  background-image: url("img/badge-cart.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.cards-list__item--yellow {
  background-color: #ffc047;
  background-image: url("img/badge-truck.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.cards-list__item--new::after,
.merchandise__item--new::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 59px;

  background-image: url("img/new-flag.png");
  background-repeat: no-repeat;
}

.cards-list__name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.cards-list__description {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 135px;
  min-height: 38px;
  margin-left: 2px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.cards-list__description:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.cards-list__description:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider__slide {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  width: 620px;
  min-height: 266px;
  padding: 22px 25px 27px 25px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #ffffff;

  background-color: #000000;
}

.slider__slide--drill {
  background-color: #000000;
  background-image: url("img/slide-drill.jpg");
  background-repeat: no-repeat;
}

.slider__slide--perforator {
  background-color: #000000;
  background-image: url("img/slide-perforator.jpg");
  background-repeat: no-repeat;
}

.slider__name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 41px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider__link,
.popular-merchandise__link,
.popular-manufacturers__link,
.services__link,
.description__link,
.contacts__link,
.feedback-form__button-submit {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 195px;
  min-height: 38px;
  padding: 5px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 3px;
  background-color: #ee3643;
}

.slider__link:hover,
.popular-merchandise__link:hover,
.popular-manufacturers__link:hover,
.services__link:hover,
.description__link:hover,
.contacts__link:hover,
.feedback-form__button-submit:hover {
  background-color: #ca2c37;
}

.slider__link:active,
.popular-merchandise__link:active,
.popular-manufacturers__link:active,
.services__link:active,
.description__link:active,
.contacts__link:active,
.feedback-form__button-submit:active {
  background-color: #ba2732;
}

.horizontal-container {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;
  padding: 20px 24px 20px 30px;

  background-color: #f9f5f0;
}

.popular-manufacturers__title,
.popular-merchandise__title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-merchandise__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.merchandise {
  margin: 0;
  padding: 0;
  list-style: none;
}

.merchandise__item {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 318px;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.merchandise__item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: none;
}

.merchandise__name {
  margin: 0 15px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-transform: none;
  text-decoration: none;
}

.merchandise__old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #a9a9a9;
  text-transform: uppercase;
  text-decoration: line-through;
}

.merchandise__price {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 141px;
  min-height: 38px;
  padding: 5px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #ee3643;
}

.merchandise__price:after {
  content: '';
  position: absolute;
  top: 0;
  right: -19px;

  border-color: #ffffff;
  border-left-color: #ee3643;
  border-width: 19px;
  border-style: solid;
}

.merchandise__buy-link {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 135px;
  min-height: 38px;
  padding: 5px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #63a63e;
  border-radius: 3px;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.merchandise__buy-link:hover {
  background-color: #5fbb2d;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.merchandise__buy-link:active {
  background-color: #518534;
  box-shadow: none;
}

.merchandise__bookmark {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 135px;
  min-height: 38px;
  padding: 5px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  color: #32425c;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
  border: solid 3px #63a63e;
}

.merchandise__bookmark:hover {
  border: solid 3px #32425c;
}

.merchandise__bookmark:active {
  border: solid 3px #32425c;
  opacity: 0.3;
}

.popular-manufacturers__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-manufacturers__item {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.popular-manufacturers__item:hover {
  border: none;
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-manufacturers__item:active {
  border: none;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  background-color: #f4f7f9;
}

.services__title,
.description__title,
.contacts__title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.services__description,
.services__slide-description,
.description__text,
.contacts__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.services__button {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  width: 240px;
  min-height: 61px;
  padding-left: 23px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  color: #ffffff;

  background-color: #32425c;
  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.services__button:hover {
  background-color: #293449;
}

.services__button:active,
.services__button--active {
  color: #32425c;

  background-color: #ffffff;
  border: none;
}

.services__slide-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 42px;
  text-align: left;
  color: #32425c;
}

.services__slide {
  box-sizing: border-box;
  width: 700px;
  height: 300px;
  padding-right: 300px;
}

.services__slide--delivery {
  background-image: url("img/slide-delivery.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.services__slide--guarantee {
  background-image: url("img/slide-guarantee.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.services__slide--credit {
  background-image: url("img/slide-credit.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.description,
.contacts {
  background-color: #ffffff;
}

.description__list {
  list-style: none;
}

.description__item {
  position: relative;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  text-align: left;
  color: #000000;
}

.description__item:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -36px;
  display: block;
  box-sizing: border-box;
  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.description__link {
  width: 220px;
}

.contacts__link {
  width: 300px;
}

.breadcrumbs {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-title {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  align-content: flex-start;
  justify-content: center;
  min-height: 89px;
  padding: 30px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.catalog-filter {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  width: 220px;
}

.catalog-filter__title {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  justify-content: center;
  min-height: 38px;
  padding-left: 18px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.filter-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-form__legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 25px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.filter-form__range {
  position: relative;
  min-height: 80px;
  background-color: #f7f3ec;
}

.filter-form__handle {
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;

  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 #e0ddd8;
}

.filter-form__input {
  display: block;
  box-sizing: border-box;
  width: 95px;
  height: 38px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 25px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border: none;
}

.filter-form__list {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  list-style: none;
}

.filter-form__list-item {
  padding-bottom: 25px;
}

.filter-form__label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.pagination__link,
.filter-form__button {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px;
  width: 140px;
  min-height: 38px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  border: solid 1px #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.pagination__link:hover,
.filter-form__button:hover {
  border: solid 1px #bdc6ca;
}

.pagination__link:active,
.filter-form__button:active {
  border: solid 1px #ee3643;
}

.catalog-sort {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 700px;
  min-height: 38px;

  background-color: #f7f3ec;
}

.catalog-sort__title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.sort {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort__link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  opacity: 0.2;
  border-bottom: 1px dotted #ee3643;
}

.sort__link:hover {
  opacity: 1;
  border-bottom: 1px solid #ee3643;
}

.sort__link:active,
.sort__link--current {
  color: #ee3643;
  opacity: 1;
  border-bottom: none;
  text-decoration: none;
}

.catalog-merchandise__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-merchandise-pagination {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item .pagination__link {
  width: 38px;
}

.pagination__item--next .pagination__link {
  width: 140px;
}

.pagination__item--current .pagination__link {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.catalog-product-description {
  background-color: #f4f7f9;
}

.catalog-product-description__title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 35px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.catalog-product-description__text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.site-footer {
  color: #ffffff;

  background-color: #32425c;
}

.site-footer__row-one {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: space-between;

  background-color: #32425c;
}

.site-footer__row-two {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: space-between;

  background-color: #293449;
}

.footer-navigation {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer-navigation__item {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.footer-navigation__link {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.footer-navigation__link--green {
  color: #ffd180;
}

.footer-navigation__link:hover {
  text-decoration: underline;
}

.footer-navigation__link:active {
  opacity: 0.5;
}

.site-footer__contacts {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.site-footer__copyright {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-width: 132px;
  list-style: none;
}

.social__button {
  display: block;
  box-sizing: border-box;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social__button:hover,
.social__button:active {
  background-color: #ee3643;
}

.social__button--vk {
  background-image: url("img/icons/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__button--fb {
  background-image: url("img/icons/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__button--insta {
  background-image: url("img/icons/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.site-footer__feedback,
.site-footer__developer {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;


  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #ffffff;
}

.site-footer__feedback-link,
.site-footer__developer-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #ffd180;
  text-decoration: none;
}

.site-footer__feedback-link:hover,
.site-footer__developer-link:hover {
  text-decoration: underline;
}

.site-footer__feedback-link:active,
.site-footer__developer-link:active {
  color: #ee3643;
  text-decoration: none;
}

.modal-feedback {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 620px;
  padding: 50px;
  min-height: 437px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  text-align: left;
  color: #000000;

  background-color: #ffffff;
  border-top: 7px solid #ff5257;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback-form__label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  text-align: left;
  color: #000000;
}

.feedback-form__text-input {
  border: solid 2px #dee3e4;
  background-color: #ffffff;
}

.feedback-form__text-input::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-align: left;
  color: #a9a9a9;
}

.feedback-form__text-input:hover {
  border: solid 2px #b5b5b5;
}

.feedback-form__text-input:focus {
  border: solid 2px #ee3643;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;

  background-color: transparent;
  border: none;
}

.modal-close:before,
.modal-close:after {
  content: '';
  position: absolute;
  top: 9px;
  left: -4px;
  height: 3px;
  width: 28px;
  background-color: #ee3643;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

.feedback-form__button-submit {
  width: 460px;
}

.modal-map {
  position: relative;
  box-sizing: border-box;
  width: 940px;
  height: 446px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  text-align: left;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-add-product {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 620px;
  min-height: 282px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  text-align: left;
  color: #000000;

  background-color: #ffffff;
  border-top: 7px solid #ff5257;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-add-product__bottom-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 112px;

  background-color: #f1f1f1;
}

.modal__link {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 38px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
  border-radius: 3px;
}

.modal__link--red {
  color: #ffffff;
  background-color: #ee3643;
}

.modal__link--red:hover {
  background-color: #ca2c37;
}

.modal__link--red:active {
  background-color: #ba2732;
}

.modal__link--white:hover {
  opacity: 0.7;
}

.modal__link--white:active {
  opacity: 0.3;
}

.modal-add-product__title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 37px;
  text-align: center;
  color: #000000;
}
