.visually-hidden:not(:focus):not(:active),
.visually-hidden:focus,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute !important;

  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  /* temporary styles */
  width: 1080px;
  margin: 0;
  padding: 50px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

.site-header {
  background-color: #f4f7f9;
}

.site-logo {
  display: block;
  box-sizing: border-box;
  width: 220px;
  height: 47px;
  padding: 13px 56px 15px 55px;

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.site-logo:hover,
.site-logo:focus {
  background-color: #ca2c37;
}

.site-logo:active {
  background-color: #ba2732;
}

.site-header {
  display: flex;
  flex-flow: row wrap;
}

.site-header__user-interface {
  background-color: #293449;
}

.search-form__search-input {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  color: #000000;

  background-color: #293449;
  border: none;
}

.search-form__search-input::placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
}

.search-form__search-input:hover {
  background-color: #212a3a;
}

.search-form__search-input:focus,
.search-form__search-input:active {
  background-color: #ffffff;
}

.search-form__icon-search {
  opacity: 0.3;
}

.search-form__search-input:hover~.search-form__icon-search {
  opacity: 1;
}

.search-form__search-input:focus~.search-form__icon-search,
.search-form__search-input:active~.search-form__icon-search {
  opacity: 1;
  fill: #ee3643;
}

.site-header__bookmarks,
.site-header__basket,
.site-header__order {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.site-header__bookmarks,
.site-header__basket {
  background-color: #293449;
}

.site-header__bookmarks:hover,
.site-header__bookmarks:focus,
.site-header__basket:hover,
.site-header__basket:focus {
  background-color: #212a3a;
}

.site-header__bookmarks:active,
.site-header__basket:active {
  background-color: #161d29;
  opacity: 0.5;
}

.site-header__order {
  background-color: #63a63e;
}

.site-header__order:hover,
.site-header__order:focus {
  background-color: #5fbb2d;
}

.site-header__order:active {
  background-color: #518534;
  opacity: 0.5;
}

.site-header__description {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.site-header__contacts {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 45px;
  padding-left: 28px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 25px;
  color: #e9292a;

  border: solid 3px #ffffff;
}

.site-header__address {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  color: #32425c;
}

.user__login,
.user__registry,
.user__name {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 45px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 25px;
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}

.user__login:hover,
.user__login:focus,
.user__registry:hover,
.user__registry:focus {
  color: #ee3643;
}

.user__login:active,
.user__registry:active,
.user__name:active {
  opacity: 0.3;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  background-color: #32425c;
}

.navigation__item {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.navigation__link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 60px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;

  background-color: #32425c;
}

.navigation__link:hover,
.navigation__link:focus {
  background-color: #293449;
}

.navigation__link:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.cards-list {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cards-list__item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  width: 300px;
  min-height: 123px;
  margin: 0;
  padding: 16px 23px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #ffffff;

  background-color: #000000;
}

.cards-list__item--orange {
  background-color: #ffbf47;
  background-image: url("img/badge-bucket.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.cards-list__item--blue {
  background-color: #3bbce3;
  background-image: url("img/badge-screwdriver.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.cards-list__item--pink {
  background-color: #dc91d8;
  background-image: url("img/badge-tractor.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.cards-list__item--green {
  background-color: #8ed78f;
  background-image: url("img/badge-cart.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.cards-list__item--yellow {
  background-color: #ffc047;
  background-image: url("img/badge-truck.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.cards-list__item--new::after,
.merchandise__item--new::after {
  content: '';
  position: absolute;
  top:0;
  right:0;
  width: 60px;
  height: 59px;

  background-image:  url("img/new-flag.png");
  background-repeat:no-repeat;
}

.cards-list__name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #ffffff;
}

.cards-list__description {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 135px;
  min-height: 38px;
  margin-left: 2px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.cards-list__description:hover,
.cards-list__description:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.cards-list__description:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider__slide {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  width: 620px;
  min-height: 266px;
  padding: 22px 25px 27px 25px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  color: #ffffff;

  background-color: #000000;
}

.slider__slide--drill {
  background-color: #000000;
  background-image: url("img/slide-drill.jpg");
  background-repeat: no-repeat;
}

.slider__slide--perforator {
  background-color: #000000;
  background-image: url("img/slide-perforator.jpg");
  background-repeat: no-repeat;
}

.slider__name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 41px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider__link,
.popular-merchandise__link {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 195px;
  min-height: 38px;
  padding: 5px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 3px;
  background-color: #ee3643;
}

.slider__link:hover,
.slider__link:focus {
  background-color: #ca2c37;
}

.slider__link:active {
  background-color: #ba2732;
}

.horizontal-container {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;
  padding: 20px 24px 20px 30px;

  background-color: #f9f5f0;
}

.popular-merchandise__title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.popular-merchandise__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.merchandise {
  margin: 0;
  padding: 0;
  list-style: none;
}

.merchandise__item {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 318px;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.merchandise__item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
  border: none;
}

.merchandise__name {
  margin: 0 15px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-transform: none;
  text-decoration: none;
}

.merchandise__old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #a9a9a9;
  text-transform: uppercase;
  text-decoration: line-through;
}

.merchandise__price {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 141px;
  min-height: 38px;
  padding: 5px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 3px;
  background-color: #ee3643;
}
